<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="Fresh insights on emerging tech, AI, software, and innovation." />

  <title>{{ page.title }} | MyTechIdea</title>

  <link rel="stylesheet" href="/css/styles.css" />
  <script defer src="/js/main.js"></script>
</head>

<body>

  {% include header.html %}

  <main>
    {{ content }}
  </main>

  {% include footer.html %}

</body>
</html>

